h1{
    color:blue;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 248, 66);
    margin: 0;
    line-height: 1.6;
}

header {
    background-color: rgb(250, 8, 8);
    color: beige;
    text-align: center;
}


nav {
    background-color: #34495e;
    text-align: center;
    padding: 12px;
}

/* Enlaces del menú */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Efecto al pasar el mouse */
nav a:hover {
    color: #ffcc00;
}
section {
    background-color: coral;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid black;
    border-radius: 4px;
}

img {
    border-radius: 10px;
    margin-top: 20px;
}


footer {
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}